server {
  server_name www.tristandunn.com;

  return 301 http://tristandunn.com$request_uri;
}

server {
  root /var/www/tristandunn.com/current/_site;

  listen 80;
  server_name tristandunn.com tristandunn.local;

  charset UTF-8;

  error_page 404 404.html;

  location ~ "^/assets/" {
    expires max;

    gzip_vary on;
    gzip_static on;

    add_header ETag "";
  }

  location ~ "^/\d{4}\/\d{2}\/\d{2}\/[^\/]+.html" {
    rewrite ^(.+).html$ $1/ permanent;
  }

  location ~ "^/projects/jquery-auto-geocoder" {
    rewrite ^ https://github.com/tristandunn/jquery-auto-geocoder permanent;
  }
}
