server {
  server_name www.tristandunn.com;

  return 301 http://tristandunn.com$request_uri;
}

server {
  root /var/www/tristandunn.com/current/_site;

  listen 80;
  server_name tristandunn.com tristandunn.local;

  charset UTF-8;

  error_page 404 404.html;

  location ~ "^/assets/" {
    gzip_vary on;
    gzip_static on;

    add_header ETag "";
    add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
    add_header Cache-Control "public; max-age=315360000";
  }

  location ~ "^/\d{4}\/\d{2}\/\d{2}\/[^\/]+.html" {
    rewrite ^(.+).html$ $1/ permanent;
  }

  location ~ "^/github-voice" {
    rewrite ^ https://github.com/tristandunn/github-voice permanent;
  }

  location ~ "^/projects/github-voice" {
    rewrite ^ https://github.com/tristandunn/github-voice permanent;
  }

  location ~ "^/projects/jquery-auto-geocoder" {
    rewrite ^ https://github.com/tristandunn/jquery-auto-geocoder permanent;
  }

  location ~ "^/(articles|projects/box-seat)" {
    rewrite ^ https://tristandunn.com permanent;
  }
}
