server {
  server_name ~^www\.(.*)$;

  return 301 $scheme://$1$request_uri;
}

server {
  root /var/www/tristandunn.com/current/_site;
  server_name tristandunn.com tristandunn.local;

  charset UTF-8;

  location ~ ^/assets/ {
    gzip_vary on;
    gzip_static on;

    add_header ETag "";
    add_header Cache-Control "public; max-age=315360000";
  }
}
